body{
    background-color: rgb(187, 124, 247);
    color: rgb(10, 10, 10);
    font-size: 40px;
    text-align: center
    ;



p{
    text-align: center; 
    color: rgb(46, 44, 44); 
    
}
#bem-vindos{
    font-size: 40px;
}

#makes{
    
width: 100%;

}
